.u-message-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999999999999999999999;

  .u-message-box__inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;

    min-width: 300px;

    max-width: 50vw;
    padding: 20px 25px;
    border-radius: 5px;
    overflow: hidden;

    .u-message-box__title {
      font-size: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .u-message-box__close {
      position: absolute;
      top: 0;
      right: 0;
      //background-color: #13ce66;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      cursor: default;
      opacity: .7;

      &:hover {
        opacity: 1;
      }
    }

    .u-message-box__message {
      margin-top: 5px;

      .u-message-box__message__content {
        font-size: 16px;
      }

      .u-message-box__message__input {
        height: 30px;
        width: 100%;
        border-radius: 3px;
        border: 1px solid #ccc;
        margin-top: 5px;
        font-size: 16px;
        padding: 0 8px;
        box-sizing: border-box;
      }

      .u-message-box__message__input__error {
        font-size: 16px;
        color: red;
        height: 21px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .u-message-box__button {
      text-align: right;
      margin-top: 15px;

      button {
        padding: 5px 20px;
        background-color: #13ce66;
        border: 1px solid #ccc;
        color: #fff;
        border-radius: 3px;
        outline: none;
        font-size: 14px !important;

        &:hover {
          opacity: .7;
        }

        &.u-message-box__button__cancel {
          background-color: #c0c4cc;
          border-color: #c0c4cc;
          margin-right: 5px;
        }

        &.u-message-box__button__confirm {
          background-color: #50bfff;
          border-color: #50bfff;
        }
      }
    }
  }
}
